@import "./Styles.view.less";

.ExtensionInsight {
    menu {
        background-color: @black;
    }

    header {
        padding: 5em 2.5em 6em;
        text-align: center;

        color: @white;
        background: @horizontal-gradient;

        .Context {
            font-size: 1.25em;
        }

        .Name {
            font-size: 3em;
            line-height: 1.5em;
        }

        .Date {
            font-size: 1.25em;
        }
    }

    section {
        margin: auto;
        max-width: @max-point;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: @big-gutter;
        padding: @big-gutter;
    }

    section.Boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media(max-width: @break-point) {
            grid-template-columns: 1fr 1fr;
        }

        padding-top: 0em;
        margin-top: -2em;

        .Box {
            // flex: 1;
            //
            // &:not(:first-child) {
            //     margin-left: @big-gutter;
            // }

            padding: @big-gutter @gutter;

            color: @white;

            border-style: solid;
            border-image-slice: 1;
            border-width: @border-width;
            border-color: @border-color;
            border-image-source: @vertical-gradient;

            background-color: @purple;
            box-shadow: @border-width @border-width 0 0 @faded-gray;

            .Value {
                font-size: 2em;
            }
            .Label {
                font-size: @small-text;
                text-transform: lowercase;
            }
        }
    }

    section.Graphs {
        height: 20em;
    }

    section.Visualizations {
        grid-template-columns: 1fr 1fr;
        @media(max-width: @break-point) {
            grid-template-columns: 1fr;
        }

        .Funnel.Visualization {
            .Title {
                margin-bottom: @gutter;
            }

            .Events {
                display: flex;
                justify-content: center;

                .Event {
                    flex: 1;
                    // width: 5em;

                    &:not(:first-child) {
                        margin-left: 1em;
                    }

                    .Bar {
                        height: 10em;
                        position: relative;

                        .Fill {
                            left: 0em;
                            right: 0em;
                            bottom: 0em;
                            min-height: 0.1em;
                            position: absolute;
                            background-color: green;
                            border-radius: @roundness;
                        }
                    }

                    .Value {
                        margin-top: @small-gutter;
                        font-weight: bold;
                    }

                    .Label {
                        word-break: break-word;

                        @media(max-width: @break-point) {
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 2em;

        .Link {
            width: 20em;
            margin: auto;
            display: block;
            padding: 0.5em;

            border-width: 1px;
            border-style: solid;
            border-radius: @roundness;
            border-color: @border-color;

            color: @border-color;
            text-decoration: none;

            &:hover {
                color: @white;
                background-color: @border-color;
            }
        }
    }
}
