@import "./Styles.view.less";

////////////
// Fonts //
//////////

@font-face {
    font-weight: 400;
    font-family: "open-sans";
    src: url("../fonts/open-sans.ttf") format("truetype");
}

///////////////
// Elements //
/////////////

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

#mount {
    width: 100%;
    height: 100%;
    position: fixed;

    color: @black;
    text-align: center;
    font-family: open-sans;
    background-color: @white;

    &.drag {
        border-width: 8px;
        border-style: dashed;
        border-color: @border-color;
    }
}
