/////////////
// Colors //
///////////

@black: #191923;
@white: #FBFEF9;
@blue: #0E79B2;
@yellow: #DEB74A;
@red: #A52F22;

@purple: #392e5c;
@horizontal-gradient: linear-gradient(90deg,#3d2fae,#b769d1);
@vertical-gradient: linear-gradient(#3d2fae,#b769d1);

@faded-gray: rgba(0, 0, 0, 0.1);

/////////////////
// Dimensions //
///////////////

@roundness: 0.25em;
@golden-ratio: 1.618;

@border-width: 8px;

@break-point: 800px;
@max-point: 1200px;

@gutter: 1em;
@small-gutter: 1em / @golden-ratio;
@big-gutter: 1em * @golden-ratio;

@small-text: 0.8em;
@big-text: 1.5em;
@biggest-text: 3em;
