/////////////
// Colors //
///////////

@black: #191923;
@white: #FBFEF9;
@blue: #0E79B2;
@yellow: #DEB74A;
@red: #A52F22;

@horizontal-gradient: linear-gradient(90deg,#3d2fae,#b769d1);
@vertical-gradient: linear-gradient(#3d2fae,#b769d1);
@border-color: #392e5c;

/////////////////
// Dimensions //
///////////////

@roundness: 0.25em;
@golden-ratio: 1.618;

@break-point: 800px;
@max-point: 1200px;

@gutter: 1em;
@small-gutter: 1em / @golden-ratio;
@big-gutter: 1em * @golden-ratio;
